# URLS
API_URL=""
LOCAL_DATABASE_URL=postgres://admin:password123@postgres:5437/db_admin
PROD_DATABASE_URL=""
# END OF URLS

# TIMES
TIME_TO_PING=15 # unused / seconds
TIME_TO_CALC_LATENCY=10 #unused / seconds
DELAY_TIME=15 # minutes
TIME_TO_CLEAR_OLD_DATA=8 # hours
# END OF TIMES

# OPTIONS
CLEAR_OLD_DATA_ON_START=true # default true
CLEAR_OLD_DATA=false # default true
SIZE_OF_STATUS_ON_REGISTER=30 # default 30
END_POINT_OF_REGISTER=/system/register
SAVE_DATA_ON_DATABASE=false # default true
MIGRATE_ON_RUN=true # default true
# END OF OPTIONS

# DEPLOY OPTIONS
CHECK_FOR_DEPLOYS= true # default true
TIME_TO_CHECK_FOR_NEW_DEPLOY=5 # minutes

# GITHUB
APP_GITHUB_OWNER=""
APP_GITHUB_REPO=""
APP_GITHUB_BRANCH=main # default main
GITHUB_TOKEN=""

# FOLDERS
APP_DIR=""
APP_BUILD_COMMAND=""
APP_BUILDED_DIR=""

# DEPLOY COMMANDS
DEPLOY_COMMAND="git push -u origin main"
DEPLOY_BRANCH=main
DEPLOY_MESSAGE="Deploy from sedna-worker"
DEPLOY_DIR="" 
DEPLOY_BUILD_COMMAND=""
DEPLOY_BUILDED_DIR=""

# END OF DEPLOY OPTIONS

# DISCORD OPTIONS
USE_DISCORD_WEBHOOKS=true # default true
DISCORD_WEBHOOK_USERNAME="Sedna Worker"
DISCORD_WEBHOOK_URL=""
# ENF OD DISCORD OPTIONS

# VALUES
SIZE_OF_HEARTBEATS_TO_CALC_LATENCY=25
SIZE_OF_STATUS_DATA_AFTER_CLEAR=30
# END OF VALUES

# DATABASE CONFIG
POSTGRES_DB=db_admin
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_PORT=5437
# END OF DATABASE CONFIG

# BUILD
EMBEDDED_WORKER=0